absl-py==1.4.0
autopep8==2.0.2
backcall==0.2.0
beautifulsoup4==4.12.2
blinker==1.8.2
blis==0.7.9
blosc2==2.0.0
cachetools==5.3.1
cachetools-chrisglass==4.2.4.1
catalogue==2.0.8
certifi==2023.5.7
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
confection==0.1.0
contourpy==1.2.1
cycler==0.12.1
cymem==2.0.7
Cython==0.29.35
decorator==4.4.2
distlib==0.3.6
emoji==1.7.0
emoji-translate==0.1.1
et-xmlfile==1.1.0
fast-skimage==0.3.1
ffmpeg-python==0.2.0
filelock==3.12.2
flake8==3.9.2
Flask==3.0.3
flatbuffers==23.5.26
fonttools==4.52.1
fsspec==2023.6.0
future==1.0.0
googletrans==4.0.0rc1
h11==0.9.0
h2==3.2.0
h5py==3.9.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.15.1
humanfriendly==10.0
hyperframe==5.2.0
idna==2.10
imageio==2.34.1
imageio-ffmpeg==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.2
joblib==1.2.0
keras @ file:///C:/Users/User/AppData/Local/Programs/Python/Python311/Scripts/keras-3.3.3-py3-none-any.whl#sha256=260df9ef71c6b89eb6816ce1c60f139c38ccdddd16f24e7005d2be127cdef8e4
kiwisolver==1.4.5
langcodes==3.3.0
lazy_loader==0.4
libretranslatepy==2.1.1
llvmlite==0.43.0
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.9.0
mccabe==0.6.1
mdurl==0.1.2
ml-dtypes==0.4.0
more-itertools==10.5.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.5
murmurhash==1.0.9
namex==0.0.8
networkx==3.1
numba==0.60.0
numexpr==2.8.4
numpy==1.25.0
numpy1==0.0.1
onnx==1.14.0
onnxruntime-gpu==1.15.1
openai-whisper==20231117
openpyxl==3.1.2
optree==0.11.0
packaging==24.0
pandas==1.5.3
pathy==0.10.2
Pillow==9.5.0
platformdirs==3.7.0
preshed==3.0.8
proglog==0.1.10
protobuf==3.20.2
py-cpuinfo==9.0.0
PyAudio==0.2.13
pycodestyle==2.7.0
pydantic==1.10.11
pyflakes==2.3.1
Pygments==2.18.0
pyparsing @ file:///C:/Users/User/AppData/Local/Programs/Python/Python311/Scripts/pyparsing-3.1.2-py3-none-any.whl#sha256=f9db75911801ed778fe61bb643079ff86601aca99fcae6345aa67292038fb742
pyplot-cli @ file:///C:/Users/User/AppData/Local/Programs/Python/Python311/Scripts/pyplot_cli-0.1.1-py3-none-any.whl#sha256=7a45d2442eefbbbb7af41f9b2d9e19186aa667dfbc5b314455d32fdde1713069
pyreadline3==3.4.1
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.6.0
PyYAML==6.0
pyzmq==25.1.0
regex==2023.6.3
requests==2.31.0
rfc3986==1.5.0
rich==13.7.1
safetensors==0.3.1
scikit-image==0.23.2
scikit-learn==1.2.2
scipy==1.11.0rc2
six==1.16.0
skimage2 @ file:///C:/Users/User/AppData/Local/Programs/Python/Python311/Scripts/skimage2-0.0.0-py3-none-any.whl#sha256=afa173448e78f95d3f4680b63ca9e92dead9d0aa1858c7786e1dff30c541ba2d
smart-open==6.3.0
sniffio==1.3.0
soupsieve==2.4.1
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SpeechRecognition==3.10.0
srsly==2.4.6
sympy==1.12
tables==3.8.0
thinc==8.1.10
threadpoolctl==3.1.0
tifffile==2024.5.22
tiktoken==0.7.0
tokenizers==0.13.3
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.65.0
transformers==4.30.2
translate==3.6.1
translator==0.0.9
typer==0.3.2
typing_extensions==4.7.1
tzdata==2023.3
unicodedata2==15.0.0
urllib3==1.26.4
virtualenv==20.23.1
wasabi==1.1.2
wcwidth==0.2.5
Werkzeug==3.0.4
whisper==1.1.10
xmltodict==0.12.0
yapf==0.31.0
